/* albums */
.center-cropped {
    margin-top: 30px;
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden;
}
.center-cropped img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-40%);
    -ms-transform: translate(-50%,-40%);
    transform: translate(-50%,-40%);
}
.center-cropped img.horizontal {
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* photos */
.fullscreen,
.fotorama--fullscreen,
.fotorama--fullscreen .fotorama__stage,
.fotorama--fullscreen .fotorama__nav,
.fotorama-overlay {
    background-color: rgba(0, 0, 0, .5);
}

.thumbs > .fotorama {
    overflow: visible;
}

/* style thumbs a bit */
.thumbs a {
    text-decoration: none;
    display: inline-block !important;
    color: #34457b;
}
.thumbs a:hover {
    color: #af1d05;
}
.thumbs a.switch {
    border-bottom: 1px dashed;
}
.thumbs img {
    width: auto;
    height: 86px;
    border: 2px #fff solid;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    margin: 0 10px 10px -2px;
}

.thumbs a:hover img {
    border-color: #00afea;
}